* {
  margin: 0;
}

body {
  background-color: #4FBDBA;
}

.Navbar {
  display: flex;
  padding: 16px;
  background-color: #072227;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.Navbar .brand {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  padding-left: 10px;
}

.Navbar-items {
  display: flex;
  gap: 30px;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar,
  .Navbar-items {
    flex-direction: column;
  }

  .Navbar-items {
    display: none;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   }
}